{% extends "pages/main_layout.html" %}

{% load static %}

{% block headtitle %} Catálogo {% endblock headtitle %}
{% block blocktitle %} Catálogo {% endblock blocktitle %}

{% block content %}
    <p class="lead">
        .................
    </p>

    <div class="row mb-4">
        {% for product in object_list %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <div class="card mb-sm-4">
                <img onerror="this.onerror=null; this.src='{% static 'img/products/'%}default.png'; this.alt='no image';" 
                  src="{% static 'img/products/'%}{{product.name}}.png" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <h6 class="card-title">{{product.name}}</h6>
                    <p class="card-text"></p>
                    <a 
                      href="https://wa.me/?text=Olá! Eu tenho interesse em {{product.name}}" 
                      class="btn btn-primary btn-sm" target="_blank">
                        Comprar
                        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}