{% extends "pages/main_layout.html" %}

{% block headtitle %} Inicio {% endblock headtitle %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="h-auto d-inline-block d-flex flex-column align-items-center justify-content-center">
        <p class="lead text-center">
            São preços <strong>imbatíveis</strong>!<!--{{cliente}}-->
        </p>
        <a href="/catalogo" class="btn btn-primary">Acessar o catálogo</a>
    </div>
</div>
{% endblock content %}